<ul class="social-media-list">
  {%- for entry in site.minima.social_links -%}
    {%- assign platform = entry[0] -%}
    {%- assign username = entry[1] -%}
    {%- assign url = username -%}
    {%- if platform == 'github' -%}
      {%- assign url = 'https://github.com/' | append: username -%}
    {%- elsif platform == 'linkedin' -%}
      {%- assign url = 'https://www.linkedin.com/in/' | append: username -%}
    {%- endif -%}
    <li>
      <a href="{{ url }}" rel="me">
        {%- case platform -%}
          {%- when 'github' -%}
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
          {%- when 'linkedin' -%}
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
          {%- when 'rss' -%}
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg>
          {%- else -%}
            {{ platform }}
        {%- endcase -%}
      </a>
    </li>
  {%- endfor -%}
</ul>
